.miFormulario{
    width: 300px;
    border: solid 1px gray;
    padding: 25px;
    margin-left: calc(50% - 150px) !important;
    margin-top: 10%;
    border-radius: 25px;
    background-color: #ebebeb;
}
