.card{
    margin-top: 100px;
}

.btn{
    margin-right: 5px;
    max-width: 50px !important;
    border-radius: 50%;
    background-color: #c5c5c5 ;
}

.btn-borrar {
    background-color: #fa9919
}

.row-buttons{
    justify-content: center;
}

p{
    margin-right: 20px;
    padding-top: 8px;
}